body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 238, 238);
  overscroll-behavior: none; /* find another way to get the scroll working properly (prevents scroll return) */
  font-family: Helvetica, Arial, sans-serif;
}

button {
  background-color: rgb(255, 250, 241);
  box-shadow: 0px 2px 2px 0px rgb(240, 191, 191);
  border: 1px solid grey;
  padding: 10px 20px;
}

.cancel-button {
  background-color: rgb(250, 215, 215);;
}

.confirm-button {
  background-color: rgb(215, 250, 216);;
}

.App {
  text-align: center;
}

.StickyHeader {
  padding: 10px;
  background-color: white;
  position: sticky;
  top: 0;
}

.account-highlight {
  color: grey;
}

.bio-window {
  padding: 10px 0px;
}

.walletInfo {
  text-align: right;
}

.CreatorContent {
  background-color: rgb(255, 250, 241);
  max-width: 700px;
  min-width: 400px;
  min-height: 400px;
  display: block;
  margin: 80px auto;
  margin-bottom: 0;
  box-shadow: 0px 2px 2px 0px rgb(240, 191, 191);
  padding: 30px;
}

.CreatedOther {
  text-align: left;
}

.CreatedOther div {
  display: inline-block;
}

.SubscriptionContent {
  background-color: rgb(255, 250, 241);
  max-width: 700px;
  min-width: 400px;
  min-height: 200px;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 2px 2px 0px rgb(240, 191, 191);
  padding: 30px;
}