body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 238, 238);
  font-family: Helvetica, Arial, sans-serif;
}

/* div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */

button {
  background-color: rgb(255, 250, 241);
  box-shadow: 0px 2px 2px 0px rgb(240, 191, 191);
  border: 1px solid grey;
  padding: 10px 20px;
  margin: 0px 5px;
}

.cancel-button {
  background-color: rgb(250, 215, 215);;
}

.confirm-button {
  background-color: rgb(215, 250, 216);;
}

.warning-message {
  color: red;
  font-size: small;
  margin: 30px 0px 0px 0px;
  text-align: left;
}

.App {
  text-align: center;
}

.StickyHeader {
  padding: 10px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.account-highlight {
  color: grey;
}

.name-input {
  font-weight: bold;
  padding: 0;
}

.bio-window {
  padding: 10px 0px;
  width: 100%;
}

.bio-window textarea {
  width: 100%;
  resize: none;
}

.walletInfo {
  text-align: right;
}

.CreatorContent {
  background-color: rgb(255, 250, 241);
  max-width: 900px;
  min-width: 500px;
  min-height: 300px;
  display: block;
  margin: 80px auto;
  margin-bottom: 0;
  box-shadow: 0px 2px 2px 0px rgb(240, 191, 191);
  padding: 30px;
}

.SubscriptionContent {
  background-color: rgb(255, 250, 241);
  max-width: 900px;
  min-width: 500px;
  min-height: 200px;
  display: block;
  margin: 30px auto;
  box-shadow: 0px 2px 2px 0px rgb(240, 191, 191);
  padding: 30px;
  text-align: left;
}

.CreatedOther {
  text-align: left;
  display: grid;
  grid-template-rows: 60px 30px 80px;
}

.CreatedOther div {
  display: inline-block;
}

.new-tooltip {
  position: absolute;
  display: inline;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0px;
  width: 120px;
  text-align: center;
  z-index: 1;
}

.CreatedUser {
  text-align: left !important;
  display: grid;
  grid-template-rows: 60px 30px 80px;
} /* add media width for smaller window */

.CreatedUser div {
  display: inline-block;
}

.CreatedUser input, 
.CreatedUser textarea,
.CreatedOther input,
.CreatedOther textarea {
  border: 1px solid rgb(152, 152, 152);
}