

html,
body {
  /* height: 100%; */
  font-family: Montserrat;
}

/* body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
} */


.logo {
  color: white;
}

/* .navbar-fixed-top {
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 90px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  }

  .navbar-fixed-top.cbp-af-header-shrink {
    height: 75px;
    } */

.navbar {
  position: fixed;
  padding: 1%;
}

.navbar-scroll {
  background-color: black;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition-duration: 0.3s;
}

#btn-login {
  position: fixed-right;
  background-color: aqua;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 7px 22px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
}

/* #btn-login:hover {
  background-color: #FE4066;
} */

#logo-image {
  align-items: center;
}

#user-username {
  background-color: black;
  border-color: aqua;
  color: white;
}

#user-email {
  background-color: black;
  border-color: aqua;
  color: white;
}

#btn-login {
  background-color: aqua;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  /* padding: 15px; */
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
